@import "whitbread-ui-kit/ui-kit/main.pi.scss";

.app-container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 $base-spacing--m;

  .component-container {
    width: 100%;
    padding: $base-spacing--s 0 $base-spacing--xl;
    border-bottom: 1px solid $pi-color-greyscale-light;
    color: $pi-color-greyscale-dark;

    .basic-spacer {
      margin-bottom: $base-spacing--m;
    }

    .capitalize {
      text-transform: capitalize;
    }

    .uppercase {
      text-transform: uppercase;
    }

    address {
      font-style: normal;

      > div:not(:last-child) {
        margin-bottom: $base-spacing--s;
      }

      > span {
        display: block;
      }
    }

    button, .max-fit {
      max-width: 300px;
    }
  }
}
